:root {
	--icon-xs: 16px;
	--icon-sm: 18px;
	--icon-md: 22px;
	--icon-lg: 26px;
	--icon-xl: 30px;
	--icon-2xl: 32px;
	--icon-3xl: 34px;
	--icon-4xl: 36px;
	--icon-5xl: 38px;
	--icon-6xl: 40px;
	--icon-100: 100px;
}

.icon-md {
	width: var(--icon-md);
	height: var(--icon-md);
}
.icon-6xl {
	width: var(--icon-6xl);
	height: var(--icon-6xl);
}
.icon-100 {
	width: 100px;
	height: 100px;
}
